.App {
  text-align: center;
}

.unshow {
  display: none;
}

.__form {
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #e9e9eb;
  width: 90%;
  margin-bottom: 15px;
}

.__formControl {
  display: flex !important;
  flex-direction: row !important;
}

.__input {
  flex: 1;
}

.__iconButton {
  flex: 0;
}
